@{ Layout = null; }
@model IdentityServer.Client.ViewModel

<!DOCTYPE html>
<html>
<head>
    <title>API</title>
</head>
<body>
    <h1>API</h1>

    <h2>Access Token:</h2>
    <h3>@Model.Token</h3>

    <h2>Api Response:</h2>
    <h3> @Model.ApiResponse</h3>

    <h3>@Html.ActionLink("Logout", "Logout")</h3>
</body>
</html>
