@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <h3>@Html.ActionLink("API", "Api")</h3>
    <h3>@Html.ActionLink("Resource Owner Password", "ResourceOwnerPassword")</h3>
    @*<h3>@Html.ActionLink("Implicit", "Implicit")</h3>*@
    <h3>@Html.ActionLink("Logout", "Logout")</h3>
</body>
</html>
